[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hugo-toha/toha.git
[submodule "public"]
	path = public
	url = https://github.com/yechenglin-dev/yechenglin-dev.github.io
	branch = master
